.products__grid {
  padding: 4rem calc((100vw - 1700px) / 2);
  margin: 0 10rem;
}

@media screen and (max-width: 1400px) {
  .products__grid {
    margin: 0 4rem;
  }
}

@media screen and (max-width: 650px) {
  .products__grid {
    margin: 0 1rem;
  }
}