/* page styles */

.department {
  min-height: 70vh;
}

.btn-1 {
  background: transparent;
  border: 1px solid #000;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  margin: 0 1rem;
}

.btn-2 {
  background: #000;
  border: 1px solid #000;
  color: #fff;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
}

.top__picks {
  padding: 4rem calc((100vw - 1700px) / 2);
  margin: 0 100px;
}

.top__picks--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top__picks--header h2 {
    font-weight: 400;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
}

.top__picks--header p {
    text-align: center;
}

.top__picks--header button {
  text-align: center;
}

.homepage__mosaic {
   width: 100%;
   margin: 2rem auto; 
}

.mosaic {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(5, 7vw);
  grid-gap: 10px;
}

.mosaic__img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.mosaic__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.mosaic__img:nth-child(3) {
  grid-column: 1 / 6;
  grid-row: 1 / 6;
}

.mosaic__img:nth-child(2) {
  grid-column: 6 / 12;
  grid-row: 1 / 4;
}

.mosaic__img:nth-child(1) {
  grid-column: 12 / 18;
  grid-row: 1 / 4;
}

.mosaic__img:nth-child(4) {
  grid-column: 6 / 9;
  grid-row: 4 / 6;
}

.mosaic__img:nth-child(5) {
  grid-column: 9 / 12;
  grid-row: 4 / 6;
}

.mosaic__img:nth-child(6) {
  grid-column: 12 / 15;
  grid-row: 4 / 6;
}

.mosaic__img:nth-child(7) {
  grid-column: 15 / 18;
  grid-row: 4 / 6;
}

@media screen and (max-width: 800px) {

  .top__picks {
    margin: 0 20px;
  }

  .mosaic {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 7vw);
    grid-gap: 10px;
    margin-top: 50px;
  }

  .mosaic__img:nth-child(6) {
    display: none;
  }

  .mosaic__img:nth-child(7) {
    display: none;
  }

  .mosaic__img:nth-child(3) {
    grid-column: 1 / 5;
    grid-row: 4 / 9;
    justify-self: end;
  }

  .mosaic__img:nth-child(2) {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    justify-self: start;
  }

  .mosaic__img:nth-child(1) {
    grid-column: 4 / 8;
    grid-row: 1 / 4;
    justify-self: center;
  }

  .mosaic__img:nth-child(4) {
    grid-column: 4 / 6;
    grid-row: 5 / 9;
  }

  .mosaic__img:nth-child(5) {
    grid-column: 6 / 9;
    grid-row: 5 / 9;
  }

  .mosaic__img {
    box-shadow: none;
  }
}

@media screen and (max-width: 450px) {
  .gallery__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn-2 {
    margin-top: 1rem;
  }

    .top__picks {
    margin: 0 10px;
  }

  .mosaic {
    margin-top: 3rem;
  }
}

/* */

.item__container {
  min-height: 100vh;
  padding: 4rem calc((100vw - 1700px) / 2);
}

.item {
  display: flex;
  padding: 0 2rem;
}

.item__image {
  flex: 50%;
  display: flex;
  justify-content: center;
}

.item__image img {
  width: 50%;
  height: auto;
  display: block;
}

.item__description {
  width: 50%;
}

.item__title {
  font-size: clamp(1rem, 5vw, 1.8rem); 
}

.item__department{ 
  font-size: 14px;
  font-weight: 700;
  color: #808080;
}

.item__details {
  padding: 1rem 0 1rem 0;
  border-top: 1px solid #f2f2f2;
  margin-top: 1rem;
}

.item__details h3 {
  font-size: 12px;
}

.item__details p {
  font-size: 14px;
}

.item__star {
  color: #f08804;
  font-size: 18px;
}

.item__price {
  font-size: 18px;
  font-weight: 600;
}

.suggestions__sx {
  padding: 5rem;
}

.suggestions__sx h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1400px) {
  .item__image img {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .item {
    flex-direction: column;
  }

  .item__description {
    width: 100%;
  }

  .item__image {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 700px) {
  .suggestions__sx {
    padding: 5rem 1rem;
  }
}

/* checkout */

.pd {
  margin-bottom: 0;
  font-size: 14px;
}

.checkout__container {
  min-height: 65vh;
  padding: 0 calc((100vw - 1700px) / 2);
  margin-bottom: 5rem;
}

.checkout__info {
  margin: 3rem 10rem 0 10rem;
  border: 1px solid #ffcd00;
  background: #ffffca;
  display: flex;
  justify-content: center;
  padding: 2rem 10rem;
}

.checkout__info p {
  padding-left: 5px;
  margin-bottom: 0;
}

.checkout {
  margin: 2rem 10rem 5rem 10rem;
  border: 1px solid #cccccc;
}

.checkout__header {
  font-size: clamp(1rem, 6vw, 1.8rem); 
  border-bottom: 1px solid #cccccc;
  padding: 2rem 0;
  margin: 0 2rem;
}

.checkout__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.checkout__empty--content {
  margin-bottom: 1rem;
}

.checkout__option {
  margin: 3rem 10rem;
  display: flex;
}

.checkout__items {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  flex: 70%;
}

.checkout__item--numbers, .checkout__quantities {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.checkout__summary {
  flex: 30%;
  padding-left: 4rem;
}

.checkout__summary--container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  flex: 30%;
}

.checkout__summary--container h2 {
  font-size: clamp(1rem, 6vw, 1.8rem); 
  padding: 1rem 0;
  margin: 0 1.5rem;
  border-bottom: 1px solid #cccccc;
}

.checkout__summary--total {
  padding: 1rem;
}

.checkout__summary--flex {
  padding: 0 .5rem;
  display: flex;
  justify-content: space-between;
}

.checkout__item {
  border-top: 1px solid #cccccc;
  margin: 0 2rem;
}

.checkout__items--header, .checkout__item {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  padding: 2rem;
}

/* checkout item */

.checkout__item--flex {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 200px;
}

.checkout__item--image {
  width: 100%;
  height: 100%;
}

.checkout__item--image img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.checkout__item--info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: .5rem;
}

.checkout__item--info h3 {
  font-size: 16px;
}

.checkout__item--info button {
  background: transparent;
  border: none;
  text-decoration: underline;
}

.checkout__cartquantity {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.checkout__cartquantity button {
  background-color: #4CAF50;
  border: none;
  color: white;
  line-height: 1.75;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.checkout__cartquantity div {
  padding: 6px 16px;
  text-align: center;
  line-height: 1.75;
}

.checkout__subtotal {
  line-height: 1.75;
}

@media screen and (max-width: 1154px) {
  .checkout__option {
    flex-direction: column;
  }

  .checkout__items {
    flex: 100%;
  }
  
  .checkout__summary {
    flex: 100%;
    padding: 2rem 0 0 0;
  }

  .checkout__item {
    padding: 1rem 0;
  }

  .checkout__info {
    margin: 3rem 5rem 0 5rem;
    padding: 2rem 4rem;
  }

  .checkout {
    margin: 2rem 5rem 5rem 5rem;
    border: 1px solid #cccccc;
  }

  .checkout__option {
    margin: 3rem 5rem;
  }
}

@media screen and (max-width: 800px) {
  .checkout__quantities {
    display: none;
  }

  .checkout__item--numbers {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-around;
  }

  .checkout__cartquantity button {
    padding: 3px 12px;
  }

  .checkout__cartquantity div {
    padding: 3px 16px;
    line-height: 1.75;
  }
}

@media screen and (max-width: 500px) {
  .checkout__info {
    margin: 3rem 1rem 0 1rem;
  }

  .checkout {
    margin: 2rem 1rem 5rem 1rem;
    border: 1px solid #cccccc;
  }

  .checkout__info {
    padding: 2rem 1rem;
  }

  .checkout__option {
    margin: 3rem 1rem;
  }
}

/* search results */

.search__results {
  min-height: 80vh;
}

.search__results h2 {
  padding: 2rem;
  font-weight: normal;
}

.search__error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.search__error h3 {
  font-weight: normal;
  text-align: center;
}