.slider__container {
  padding: 3rem calc((100vw - 1400px) / 2);
}

.slider__img {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}

.slider__caption {
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .slider__container {
    padding: 0;
  }
}