.header__primary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .5rem 0;
}

.header__logo h2 {
  font-size: clamp(1rem, 5vw, 3rem);  
  font-weight: normal;
  margin: 0;
}

.header__logo p {
  font-size: clamp(10px, 1vh, 12px); 
  margin: 0;
  text-align: center;
}

.header__cart {
  display: flex;
  align-items: center;
}

.header__cart p {
  font-size: clamp(14px, 2vh, 18px);
  margin: 0;
  padding-right: .5rem;
}

.cart {
  display: flex;
}

.cart__quantity {
  background: orangered;
  border-radius: 50%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px; 
  height: 25px;
  transform: translate(-10px, -5px);
}

.cart__quantity span {
  color: white;
}

.search {
  background: #f2f2f2;
  width: 30vw;
  display: flex;
  justify-content: space-between;
}

.search__input {
  border: none;
  background: #f2f2f2;
  flex: 80%;
  padding: 0 1rem;
}

.search__input:focus{
    outline: none;
}