.footer {
  background: #161616;
  color: #fff;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
  margin: 0 190px;
  border-bottom: 1px solid #f2f2f2;
}

.footer__social-media {
  display: flex;
}

.footer__icon {
  padding: 0 2rem;
}

.footer__social-app img {
  padding-left: .5rem;
}

.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.footer__links p {
  margin: 0;
  font-size: 14px;
}

.footer__pipeline {
  padding: 0 .4rem;
}